*{
    margin:0;
    padding:0;
}

@media only screen and  (min-width:0px){
    .nav{
        background-color:#000000;
        top:0;
        position: fixed;
        width:100%;
        height: 120px;
        display:flex;
        align-items: center;
      }
      .nav .anchor-tags{
        display:flex;
        justify-content: space-around;
        width:100%;
      }
      .nav .anchor-tags a{
        color: rgb(255, 255, 255);
        font-size:1.3em;
        text-decoration: none;
        text-align: center;
      }
      .nav .anchor-tags a:hover{
          background-color:rgb(27, 27, 27);
      }
      .HomePageImgs{
        display:flex;
        margin-top:120px;
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
       }

      .middleImg{
          width: 100%;
          height: 50vh;
          background-image: url("./resources/bruce-mars-HHXdPG_eTIQ-unsplash.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          display:flex;
          justify-content: center;
          align-items: center;   
      }
      .chose{
        width:100%;
        height: 50vh;
        background-image: url("./resources/two-woman-doing-exercise-1671217.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .workout{
        width:100%;
        height: 50vh;
        background-image: url("./resources/woman-wearing-black-bra-and-pants-on-top-of-the-mountain-963697.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .anywhere{
        width:100%;
        height: 50vh;
        background-image: url("./resources/geert-pieters-3RnkZpDqsEI-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .anytime{
        width:100%;
        height: 50vh;
        background-image: url("./resources/inspired-horizons-digital-marketing-I749-lKHHJ4-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    p{
        font-size: 27px;
    }
    .workout p{
        text-align: center;
        font-size:35px;
        color: rgb(0, 0, 0);
        background-color: #ffffff9e;
        border-radius: 50px;
        width: 90%;
    }
    .anytime p{
        text-align: center;
        font-size:35px;
        color: rgb(0, 0, 0);
        background-color: #ffffff9e;
        border-radius: 50px;
        width: 90%;
    }
    .anywhere p{
        text-align: center;
        font-size:35px;
        color: rgb(0, 0, 0);
        background-color: #ffffff9e;
        border-radius: 50px;
        width: 90%;
    }
    .chose p{
        text-align: center;
        font-size: 35px;
        color: rgb(0, 0, 0);
        background-color: #ffffff9e;
        border-radius: 50px;
        width: 90%;
    }
    .middleImg p{
        text-align: center;
        font-size:35px;
        color:white;
        background-color: #000000bd;
        width:100%;
    }  
    body{
        background-color:#e9ebee;
    }
    .signUpAs a{
        border:1px solid rgba(0, 0, 0, 0.356);
    }
    .clientLogin{
        width: 70%;
        text-align: center;
    }
    .login{
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image:url("./resources/daniel-apodaca-WdoQio6HPVA-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .clientRegister h2,.instructorRegister h2{
        text-align: center;
        font-size: 27px;
    }


    form {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    form input{
        margin:10% 0%;
        border:0;
        border-bottom: 0.15em solid black;
        outline:none;
        width:90%;
        font-size: 20px;
    }
    form button{
        background-color:rgb(30, 167, 252);
        margin:10%;
        border-radius:15px;
        width:215px;
        height: 50px;
    }
    form input:focus{
        border-bottom: 0.15em solid rgb(0, 119, 255);
        transition:  border-bottom .35s ease-in-out;
    }

    .signup{
        height: 1200px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image:url("./resources/person-holding-barbell-841130.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .signupPage{
        height: 1200px;
        width:100%;
        margin-top: 120px;
    }
    .clientSignup{
        background-color: rgb(255, 255, 255);
        height: 800px;
        width: 290px;
        display:flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .logo{
        text-align: center;
        background-color:black;
        color:white;
        width:100%;
        margin-bottom: 5%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 32px;
        padding: 15px 0px;
    }

    .signUpAs{
        width:100%;
        display:flex;
        justify-content: space-around;
        height: 5vh;
        margin: 5% 0% 5% 0%;
    }
    .signUpAs a{
        font-size: 24px;
        color:black;
        padding: 0px 15px;
        text-decoration: none;
        display:flex;
        align-items: center;
        margin: 7px 0px;
    }
    #register-client{
        border-radius: 1em;
    }
    #register-instructor{
        border-radius: 1em;
    }

    #login-client{
        border-radius: 1em;
    }
    #login-instructor{
        border-radius: 1em;
    }
    .errorMessage{
        color:red;
    }
    button{
        outline: none;
    }
    .classes{
        display:flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-wrap: wrap;
        background-color:white;
        border-radius: 15px;
        margin:0% 2% 5% 3%;
        width:75%;
    }
    .classes h1{
        text-align: center;
        width:100%;
    }
    .classCard{
        background-color:rgb(197, 197, 231);
        margin:2% 0% 2% 2.5%;
    }

    .mainFrame{
        background-color: white;
        text-align: center;
        margin: 5% 2% 2% 3%;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        border: 1px rgba(180, 180, 180, 0.479) solid;
        width: 75%;
        height: 27vh;
    }


    .profileImage{
        width:11em;
        height: 20vh;
        background-image: url("./resources//profileTemperaryImg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 150px;
        margin: 2% 1% 2% 2%;
    }


    .profileInfo{
        margin:5% 5% 5% 5%;
        width:62.5%;
    }
    .profileNav{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        margin: 5% 2% 2% 0%;
        border-bottom: 1px solid rgb(175, 172, 172);
        width: 25%;
        height: 27vh;
    }
    .profileNav a{
        font-size: 1.3em;
        text-decoration: none;
        text-align:left;
        color: black;
        padding: 1% 3.5% 1% 3.5%;
        margin: 0% 5% 0% 10%;
        border-radius: 15px;
        font-weight: 500;

    }
    .profileNav a:hover{
        color:#66bfff;
    }
    .profileLogo{
        display:flex;
        font-size: 3em;
        width:100%;
        justify-content: center;
        align-items: center;
    }
    .profileContent{
        display:flex;
        justify-content: center;
        flex-direction: row;
    }
    .profile{
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .class_content{
        display:flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-wrap: wrap;
        background-color:white;
        border-radius: 15px;
        margin:0% 2% 5% 3%;
    }
    .quotes{
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        margin: 0% 2% 2% 0%;
        border-bottom: 1px solid rgb(175, 172, 172);
        width: 25%;
        height: 40vh;
        text-align: center;
    }
    .quotes h1{
        padding:7% 0% 5% 0%;
    }
    .quotes p{
        font-size: 1.2em;
        margin: 1% 4.2% 1% 4.2%;
    }
    .saidBy{
        text-align: right;
    }
    .about{
        height: 90vh;
        background-image: url("./resources/person-riding-bicycle-1277034.jpg");
        background-position: center;
        background-size: cover;
        margin-top: 120px;
    }
    .about section{
        color:white;
        text-align: center;
        background-color:#00000081;
        padding:2%;
    }
    .about section p{
        margin: 10px;
        font-size: 24px;
    }
    .about section h1{
        font-size: 45px;
    }
}
@media only screen and (min-width:400px){
    .clientSignup{
        width:350px;
        height:875px;
    }
}
@media only screen and (min-width:500px){
    .clientSignup{
        width:450px;
        height: 975px;
    }
    form button{
        margin:5%;
    }
    .signUpAs a{
        font-size: 28px;

    }
}


@media only screen and (min-width: 800px){
    .workout{
        width:50%;
    }
    .chose{
        width: 50%;
    }
    .anytime{
        width: 50%;
    }
    .anywhere{
        width: 50%;
    }
}
@media only screen and (min-width:850px){
    .nav .anchor-tags a{
        padding: 45px 50px;
        width: 25%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width:1400px){
    .HomePageImgs{
        height: 80vh;
    }
    .middleImg{
        position: absolute;
        width:35%;
        height: 30vh;
        top:41%;
        left:32%;
    }
    .chose{
        height: 45vh;
    }
    .workout{
        height: 45vh;
    }
    .anytime{
        height: 45vh;
    }
    .anywhere{
        height: 45vh;
    }
}

@media only screen and (max-width:849px){
    #sandwich{
      position: fixed;
      margin: 25px 15px 0px 0px;
      top:0;
      right:0;
      width:50px;
      height: 50px;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #sandwich div{
      width:40px;
      height: 5px;
      background-color: rgb(255, 255, 255);
      margin:7% 5% 7% 5%;
    }
    .nav .close{
      display:none;
    }
    .nav .open{
      display:block;
      background-color:black;
      width:100%;
      font-size: 1.2rem;
    }
    .nav{
      display:block;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .nav .open{
      padding: 40px 0px;
    }
    .nav .anchor-tags{
      flex-direction: column;
    }
    .nav .anchor-tags a{
      width:100%;
    }
    #sign-up{
      background-color:white;
      color:rgb(95 184 32);
      border-radius: 0;
    }
    .logo{
      justify-content: center;
    }
}